# shellcheck configuration for Relay Card

# Allow source files to be sourced (no executable bit required)
external-sources=true

# We use $HOME extensively
disable=SC1090
disable=SC1091

# Allow our use of printf for JSON construction
disable=SC2059

# Allow non-constant source for redirects
disable=SC1091

# Allow our use of find ... -print0
disable=SC2034
disable=SC2155
